<h1>Albums</h1>

<form action="/albums" method="get">
  <input type="text" name="genre" placeholder="What genre do you like?">
  <input type="submit">
</form>

<ul>
  <% @albums.each do |id, album| %>
  <li>
    <%= album[:album_name]%>
  </li>
  <% end %>
</ul>
